<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Vue.js - курсовая</title>

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style2.css">
	<link rel="stylesheet" href="/js/highlighter/highlighter.css?v=79">


	<script src="/js/highlighter/highlighter.js?v=118"></script>
	<script src="/js/pdf.js"></script>

	<meta name="yandex-verification" content="00eb45b7559e5c68">
	<meta name="google-site-verification" content="Af0TM2OrwIEtjoQXxYz2-1C-21E1m7DB23_kWpE9sLg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="../../../../../favicon.ico">
</head>

<body>
	<div id="invoice">
		<div class="container">
				<h1 class="main">Организация компонентов</h1>
				<div class="content">
<p>
	Обычно приложение организуется в виде дерева вложенных компонентов:
</p>
<img width="100%" src="../img/components.png" alt="">
<p>
	Например, может быть компонент для заголовка, боковой панели, зоны контента, каждый из которых содержит другие компоненты для навигационных ссылок, постов блога и т.д.
</p>
<p>
	Чтобы использовать компоненты в шаблонах, сначала их нужно зарегистрировать, чтобы Vue узнал о них. Есть два типа регистрации компонентов: глобальная и локальная. Ранее компоненты регистрировались только глобально, используя метод приложения component:
</p>
<p class="code" data-file="App.vue">
	<code class="highlight" data-module="highlight" data-lang="html">const app = Vue.createApp({}) <br>
		<br>
		app.component('my-component-name', {<br>
		  // ... опции ...<br>
		})</code>
</p>
<p>Глобально зарегистрированные компоненты можно использовать в шаблоне любого компонента в приложении.</p>
<p>Для начала это всё, что нужно знать о регистрации компонентов. Но когда закончите изучение этой страницы и разберётесь со всей информацией представленной здесь — рекомендуем вернуться и прочитать полное руководство по регистрации компонентов.</p>

<button class="pdf" onclick="generatePDF()">Сохранить в PDF</button>
<footer>
	<div class="jump">
		<a href="#" id="toTop"><img src="/img/arrow-up.svg"></a>
	</div>
</footer>
<script src="/js/html2pdf.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../../../../js/metrika.js?v=1"></script>
</body>

</html>