<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Vue.js - курсовая</title>

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style2.css">
	<link rel="stylesheet" href="/js/highlighter/highlighter.css?v=79">


	<script src="/js/highlighter/highlighter.js?v=118"></script>
	<script src="/js/pdf.js"></script>

	<meta name="yandex-verification" content="00eb45b7559e5c68">
	<meta name="google-site-verification" content="Af0TM2OrwIEtjoQXxYz2-1C-21E1m7DB23_kWpE9sLg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="../../../../../favicon.ico">
</head>

<body>
	<div id="invoice">
		<div class="container">
			<h1 class="main">Распределение контента слотами</h1>
			<p>
				Как и в случае с обычными HTML-элементами, часто бывает полезным иметь возможность передавать компоненту
				содержимое, например таким образом:
			</p>
			<p class="code" data-file="App.vue">
				<code class="highlight" data-module="highlight" data-lang="html"><alert-box>
		Произошло что-то плохое.
	  </alert-box></code>
			</p>
			<p>Чтобы в итоге всё выглядело примерно так:</p>
			<p>Такого можно добиться при помощи пользовательского элемента slot у Vue:</p>
			<p class="code" data-file="App.vue">
				<code class="highlight" data-module="highlight" data-lang="html">app.component('alert-box', { <br>
		template: ` <br>
		  &lt;div class="demo-alert-box"&gt; <br>
			&lt;strong&gt;Ошибка!&lt;/strong&gt;<br>
			&lt;slot&gt;&lt;/slot&gt;<br>
		  &lt;/div&gt;<br>
		`<br>
	  })</code>
			</p>
			<p>Как можно увидеть выше, слот будет использоваться в качестве места, куда потребуется подставлять контент
				— и это всё. Готово!</p>
		</div>
	</div>

	<button class="pdf" onclick="generatePDF()">Сохранить в PDF</button>
	<footer>
		<div class="jump">
			<a href="#" id="toTop"><img src="/img/arrow-up.svg"></a>
		</div>
	</footer>
	<script src="/js/html2pdf.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../../../../../js/metrika.js?v=1"></script>
</body>

</html>